<html>
    <head>
        <title>Sign up</title>
    </head>
    <body>
        {% if error %}
            <h1>Error: {{ error }}</h1>
        {% endif %}
        <h1>Sign up form</h1>
        <form action="/signup" method="POST">
            <p>
                <p>Create a username</p>
                <input type="text" name="login">
            </p>
            <p>
                <p>Create a password</p>
                <input type="password" name="password">
            </p>
            <p>
                <p>Re-type a password</p>
                <input type="password" name="password_confirm">
            </p>
            <p>
                <input type="submit" name="subm" value="Sign up">
            </p>
        </form>
        <form action="/signin" method="GET">
            <p>Or you can <input type="submit" value="Sign in"></p>
        </form>
    </body>
</html>
